<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.QpGascylinderlabelchangesMapper">

  <resultMap id="qpGascylinderlabelchangesMap" type="com.pig4cloud.pigx.admin.entity.QpGascylinderlabelchanges">
                  <id property="id" column="id"/>
                        <result property="gascylinderrecordId" column="gascylinderrecord_id"/>
                        <result property="electroniclabeltype" column="electroniclabeltype"/>
                        <result property="electroniclabel" column="electroniclabel"/>
                        <result property="createat" column="createAt"/>
                        <result property="createdate" column="createDate"/>
                        <result property="modifyat" column="modifyAt"/>
                        <result property="modifydate" column="modifyDate"/>
                        <result property="delFlag" column="del_flag"/>
                        <result property="deptId" column="dept_id"/>
                        <result property="tenantId" column="tenant_id"/>
                        <result property="nfcId" column="nfc_id"/>
            </resultMap>


	<select id="getQpgascylinderrecord"  resultType="map">
		select qgr.*,
			qm.name manufactory_name, qmp.permission manufactorypermission_permission, qgt.name gascylindertype_name,
			qma.name material_name, qma.fillingUnit fillingUnit, qma.fillingPressure fillingPressure,
			qgl.electroniclabel, qgl.electroniclabeltype, qgl.nfc_id nfcId
		from qp_gascylinderlabelchanges qgl
		left join qp_gascylinderrecord qgr on qgl.gascylinderrecord_id = qgr.id
		left join qp_manufactory qm on qgr.manufactory_id = qm.id
		left join qp_manufactorypermission qmp on qgr.manufactorypermission_id = qmp.id
		left join qp_gascylindertype qgt on qgr.gascylindertype_id = qgt.id
		left join qp_material qma on qgr.material_id = qma.id
		where  qgl.del_flag = '0'
		<choose>
			<when test="codeType == 'nfc'.toString()">
				AND qgl.nfc_id = #{electroniclabel}
			</when>
			<otherwise>
				AND qgl.electroniclabel = #{electroniclabel}
			</otherwise>
		</choose>
	</select>
</mapper>
